In [ ]:
#Arithmetic operation

In [5]:
a=10
b=15

add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b
floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

25
-5
150
0.6666666666666666
0
10
1000000000000000

In [7]:
10/5
21//5

4

COMPARISON OPERATORS

In [ ]:
#Comparison operator
#==Equal to
a=10
b=10
a==b

True

In [10]:
str1="amal"
str2="amal"
str1==str2

True

In [11]:
#Not equal to !=
str3="amal"
str4="Amal"
str3!=str4

True

In [12]:
#Greater than
num1=23
num2=20
num1>num2

True

In [13]:
#Less than
num1<num2

False

In [14]:
#Greather than or equal to
num1=12
num2=12
num1>=num2

True

In [15]:
#Less than or equal to
num1<=num2

True

#Logical operators

In [ ]:
## And , Not , OR

In [16]:
#and
 
X=True
Y=True
result=X and Y
print(result)

True

In [17]:
X=False
Y=True
result=X and Y
print(result)

False

In [18]:
#or
X=False
Y=False
result=X or Y
print(result)

False

In [19]:
X=False
Y=True
result=X or Y
print(result)

True

In [20]:
X=True
Y=True
result=X or Y
print(result)

True

In [22]:
#Not
X=True
not X

False

In [23]:
X=False
not X

True

In [25]:
# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 3.0
Subtraction: -1.0
Multiplication: 2.0
Division: 0.5
Floor Division: 0.0
Modulus: 1.0
Exponentiation: 1.0