In [ ]:
TUPLES
.Are ordered collection of items that are immutable. They are similar to lists but their immutability makes them different.

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [6]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1,"amal",3.14,True)
print(mixed_tuple)

(1, 'amal', 3.14, True)

In [9]:
#Accessing tuple elements
numbers

(1, 2, 3, 4, 5)

In [10]:
numbers[0]

1

In [11]:
print(numbers[2])
print(numbers[-1])

3
5

In [12]:
numbers[0:4]

(1, 2, 3, 4)

In [13]:
numbers[::]

(1, 2, 3, 4, 5)

In [14]:
numbers[-1]

5

In [15]:
##Tuple operation
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'amal', 3.14, True)

In [16]:
mixed_tuple * 3

(1, 'amal', 3.14, True, 1, 'amal', 3.14, True, 1, 'amal', 3.14, True)

In [17]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [19]:
## Immutable nature of tuples
##Tuples are immutable meaning the elements cannot be changed once assigned

lst=[1,2,3,4]
print(lst)
lst[1]="hello"
print(lst)

[1, 2, 3, 4]
[1, 'hello', 3, 4]

In [25]:
numbers

(1, 2, 3, 4, 5)

In [24]:
#Tuple methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [29]:
#Packing and unpacing tuple

packed_tuple=1,"king",2.22
print(packed_tuple)

(1, 'king', 2.22)

In [30]:
#Unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
king
2.22

In [33]:
##Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [36]:
#Nested tuple
#Tuples inside a tuple is known as nested tuple

#Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [37]:
lst=[[1,2,3,4],[6,7,8,9],(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [39]:
nested_tuple = ((1,2,3), ("a","b"), (True,False))
#access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][1])

(1, 2, 3)
b

In [40]:
#iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b
True False

In [ ]:
#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.